
<form action="http://localhost:8080/api/session/login", method="post">
  <input name="email" placeholder="email" />
  <br>
  <input name="password" placeholder="password" />
  <br>
  <button value="submit">Logear</button>
</form>
<br>
<a href="http://localhost:8080/api/session/github">Login with GitHub</a>
<br>
<a href="http://localhost:8080/signup">Signup</a>
<br>
<a href="http://localhost:8080/RecuperarPass">Restableces contraseña</a>
